<table class="block_calculator_table">
	<caption>{{title_history}}</caption>
    <tr>
        <th>a</th>
        <th>b</th>
        <th>c</th>
        <th>D</th>
        <th>x1</th>
        <th>x2</th>
        <th>{{time}}</th>
    </tr>
    {{#history}}
    <tr>
        <th>{{a}}</th>
        <th>{{b}}</th>
        <th>{{c}}</th>
        <th>{{d}}</th>
        <th>{{x1}}</th>
        <th>{{x2}}</th>
        <th>{{timecreated}}</th>
    </tr>
    {{/history}}
</table>

<lable>{{no_history}}</lable>
