<caption>{{namecalculation}}</caption>
<tr>
    <th>
        {{nameequation}}
    </th>
    <th>
        {{equation}}
    </th>
</tr>
<tr>
    <th>
        {{namediscriminant}}
    </th>
    <th>
        {{discriminant}}
    </th>
</tr>
<tr>
    <th>
        {{nameresult}}
    </th>
    <th>
        {{result}}
    </th>
</tr>
